*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    
}

h2{
    color: #8E8E8E;
}

p{
    font-size: 0.9vw;
    color: #2196F3;
}
#main{
    width: 100%;
    background: linear-gradient(#121212 ,#1A1A1A);
    color: #EFEFEF;
}

#nav{
    /* background-color: aqua; */
    padding: 2vw 6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nleft{
    display: flex;
    gap: 2vw;
    border-radius: 2vw;
    padding: 1vw 5vw;
    /* border: solid 1px black; */
}

#nav a{
    font-weight: 500;
    font-size: 0.8vw;
    color: #EFEFEF;
    text-decoration: none;
}

button{
    border: solid 1px #EFEFEF;
    border-radius: 20vw;
    background: transparent;
    color: #EFEFEF;
    padding: 1.5vw 1.5vw;
}

button:hover{
    border: solid 1px #121212;
    color: #121212;
    background: #FFD700;
    transition: 0.7s;
}

#intro{
    display: flex;
    gap: 1.7px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 100px; */
    margin-top: 9vw;
    padding: 0vw 6vw;
    /* background-color: red; */
}

#intro-img{
    width: 67vw;
    height: 17vw;
    border: none;
    background: rgba(0, 0, 0, 0); /* Set background to transparent */
    box-shadow: 0 0 70px rgba(253, 253, 253, 0.2);
    /* background-color: yellow; */
}

#intro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#quality{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0vw 6vw;
    z-index: 2;
    /* background-image: url("./img/mulberry.jpg"); */
    /* height: 100px; */
    /* background-color: red; */
    margin-top: 20vw;
}



#intro #heroText{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: left;
    gap: 1.5vw;
    /* border: solid 3px black; */
    border-radius: 2vw;
    /* background-color: rgb(98, 223, 223); */
    /* opacity: 0.9; */
    padding: 3vw;
}

#intro #heroText p{
    line-height: 2;
}

#versatile{
    width: 20vw;
}

#versatile p{
    text-transform: capitalize;
    margin: 10px 0 ;
}

#versatile #versimg{
    width: 100%;
    height: 30vw;
    /* background-color: red; */
}

#versimg img{
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

#versimg img:hover{
    transform: scale(1.5);
    opacity: 0.5;
}

#diversity{
    width: 20vw;
}

#diversity p{
    text-transform: capitalize;
    margin: 0.7vw 0 ;
}

#diversity #diversimg{
    width: 100%;
    height: 30vw;
    
    /* background-color: red; */
}

#diversimg img{
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

#diversimg img:hover{
    transform: scale(1.5);
    opacity: 0.5;
}

#passion{
    width: 20vw;
}

#passion p{
    text-transform: capitalize;
    margin: 0.5vw 0 ;
}

#passion #passimg{
    width: 100%;
    height: 30vw;
    /* background-color: red; */
}

#passimg img{
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

#passion img:hover{
    transform: scale(1.5);
    opacity: 0.5;
}

#services{
    display: flex;
    flex-direction: column;
    gap: 150px;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    padding: 0vw 6vw;
    /* height: 100px; */
    /* background-color: red; */
    margin-top: 15vw;
}

#services #serHead{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

#upper{
    font-size: 3vw;
    color: #ff8a00;
    transform: translate(-25%);
    display: flex;
    gap: 3vw;
}
#upper img{
    border-radius: 20%;
    transform: rotate(-10deg);
    filter: hue-rotate(220deg);
}

#lower{
    font-size: 1.5vw;
    transform: translate((20% ));
}

#service1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 150vw; */
}

#service1 #ser1img{
    width: 100%;
    height: 40vw;
}

#service1 #ser1img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#service1 p{
    line-height: 1.5;
    padding: 0.7vw 0;
}
#service1 li{
    padding: 0.5vw 0;
    font-size: 0.9vw;
    list-style: disc;
    list-style-position: inside;
}
#service2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#service2 p{
    line-height: 1.5;
    padding: 0.7vw 0;
}
#service2 li{
    padding: 0.5vw 0;
    font-size: 0.9vw;
    list-style: disc;
    list-style-position: inside;
}
#service3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#service3 p{
    line-height: 1.5;
    padding: 0.7vw 0;
}
#service3 li{
    padding: 0.5vw 0;
    font-size: 0.9vw;
    list-style: disc;
    list-style-position: inside;
}
#service4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#service4 p{
    line-height: 1.5;
    padding: 0.7vw 0;
}
#service4 li{
    padding: 0.5vw 0;
    font-size: 0.9vw;
    list-style: disc;
    list-style-position: inside;
}

#services #ser1img{
    width: 34vw;
    height: 13vw;
    border: none;
    background: rgba(0, 0, 0, 0); /* Set background to transparent */
    box-shadow: 0 0 40px rgba(253, 253, 253, 0.2);
    /* background-color: red; */

}

#ser1img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#services #ser2img{
    width: 39vw;
    height: 13vw;
    border: none;
    background: rgba(0, 0, 0, 0); /* Set background to transparent */
    box-shadow: 0 0 40px rgba(253, 253, 253, 0.2);
    /* background-color: red; */

}

#ser2img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#services #ser3img{
    gap:2vw;
    width: 36vw;
    height: 13vw;
    border: none;
    background: rgba(0, 0, 0, 0); /* Set background to transparent */
    box-shadow: 0 0 40px rgba(253, 253, 253, 0.2);
    /* background-color: red; */

}

#ser3img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#services #ser4img{
    width: 36vw;
    height: 13vw;
    border: none;
    background: rgba(0, 0, 0, 0); /* Set background to transparent */
    box-shadow: 0 0 40px rgba(253, 253, 253, 0.2);
    /* background-color: red; */
}

#ser4img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#services #ser2text{
    margin-left: 3.5vw;
}
#services #ser4text{
    margin-left: 3.5vw;
}

#CTA{
    display: flex;
    flex-direction: column;
    gap: 10.5vw;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    height: 40vw;
    padding: 0vw 6vw;
    /* height: 100px; */
    /* background-color: red; */
    margin-top: 15vw;
}

.footer{
    display: flex;
    height: 30vw;
    flex-direction: column;
    gap: 3vw;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 76, 93);
}

.footer p{
    font-weight: 500;
    color: #121212;
    font-size: 1vw;
}

@media screen and (max-width:740px) {
    h1{
        font-size: 3vw;
    }
    h2{
        font-size: 2.5vw;
    }
    p{
        font-size: 2vw;
    }
}